.banner1-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
 
.banner1-thq-max-width-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-thq-title-elm {
  text-align: center;
}
 
.banner1-text1 {
  text-align: center;
}
 
.banner1-text3 {
  display: inline-block;
}
 
.banner1-text4 {
  display: inline-block;
}
 
.banner1-text5 {
  display: inline-block;
}
